@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import 'https://fonts.googleapis.com/css?family=Rancho';
body{
 font-family: Roboto Slab, sans-serif; 
}
h1{
   font-family: 'Rancho', cursive;
  font-size: 40px;
}
#mywork h3{
   font-family: 'Rancho', cursive;
  font-size: 30px;
}
.navbar-inverse {
  background: #33334d;
  color: #ffffff;
  text-align: center;  
}
.nav li {
     padding: 0px 55px 0px 55px; 
     align-content: center;
     float:left;
     font-size: 20px;
     font-family: 'Oswald', serif;
     text-decoration-color: #ffffff;
}
.menu-item{
 padding: 10px 10px 10px 25px; 
}
.jumbotron a {
  font-size: 45px;
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  font-size: 50px;
}
.fa-angle-double-down {
  vertical-align: 8%;
}
.jumbotron {
  font-family: 'Rancho', cursive;
    margin-bottom: 0px;
    background-image: url(https://github.com/skappaa/portfolio/blob/master/img/homeslider.png?raw=true);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 30px;
    color: floralwhite;
    height: 700px;
    text-align: center;
 }
#aboutme{
 text-align: center;
 font-family: Roboto Slab, sans-serif;
 background: -webkit-radial-gradient(center, ellipse cover, rgba(224,223,245,1) -1%,rgba(224,223,245,1) 0%,rgba(231,228,246,1) 2%,rgba(245,244,252,1) 76%,rgba(231,228,246,1) 96%,rgba(231,228,246,1) 96%,rgba(231,228,246,1) 100%,rgba(236,233,247,1) 100%); 
 }
.myimage{
    border-radius: 50%;
    }
#mywork {
   width: 80%;
  margin: 30px auto;
  font-family: sans-serif;
} 
.webApps{
  display: flex;
  flex-wrap: wrap;
}
.img a{
  padding: 2px
}

.webApps a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(30% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

#mywork h6{
   font-weight: bold;
   font-size: 15px;    
}
#resume{
 font-family: Roboto Slab, sans-serif;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(224,223,245,1) -1%,rgba(224,223,245,1) 0%,rgba(231,228,246,1) 2%,rgba(245,244,252,1) 76%,rgba(231,228,246,1) 96%,rgba(231,228,246,1) 96%,rgba(231,228,246,1) 100%,rgba(236,233,247,1) 100%); 
}
.resume-title{
  background: #33334d;  
  font-weight: bold;
  height: 120px;
  width: 80px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
   color: white;
}	
.resume-button{
    background: #33334d;
  }
.resume-btn-center{
   text-align: center;  
}
#resume h4{
   font-weight: bold;
   font-size: 15px;    
}
#resume h5{
  font-size: 15px;      
}
.submit-button{
  background: #33334d;
  color: white;
}
ul.footer-menu {
 list-style-type: none; 
  padding:10px;
}

.footer-menu li {
  padding: 2px;  
  text-color: white;  
  font-size: 25px;
  display: inline;
}
#getintouch{
  font-family: Roboto Slab, sans-serif;
  font-size: 20px;
 background: -webkit-radial-gradient(center, ellipse cover, rgba(224,223,245,1) -1%,rgba(224,223,245,1) 0%,rgba(231,228,246,1) 2%,rgba(245,244,252,1) 76%,rgba(231,228,246,1) 96%,rgba(231,228,246,1) 96%,rgba(231,228,246,1) 100%,rgba(236,233,247,1) 100%); 
 }
#footer{
   font-family: Roboto Slab, sans-serif;
  font-size: 15px;
  color: white;
background: -webkit-linear-gradient(45deg, rgba(14,14,14,1) 2%,rgba(125,126,125,1) 89%);
 background-size: cover;
  text-align: center;
}
.img img{
    width: 30%;
    height: 30%; 
}
